.Button_Component{

    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 1.25em;
    background-color: #c8d5fd;
    color: #0a033f;
    border: none;
    padding: 0.5em;
    border-top-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;



    &:hover {
        background-color: #dde6fe;
        color: #0a033f;
        padding: 0.5em;
        border-top-left-radius: 0.5em;
        border-bottom-right-radius: 0.5em;
    }

    &:focus {
        background-color: #c8d5fd;
        color: #0a033f;
        padding: 0.5em;
        border-top-left-radius: 0.5em;
        border-bottom-right-radius: 0.5em;
        
    }
      
    &:active {
        background-color: #ceaaff;
        color: #0a033f;
        transform: scale(0.98);
    }
    
    &:disabled {
        background-color: #cecdd9;
        color: #0a033f;
        cursor: not-allowed;
    }

}

