.BackgroundPic{

    background-image: url('/assets/images/Background.jpg');
    background-size: cover;  // Deckt den gesamten Container ab
    background-repeat: no-repeat;  // Verhindert das Wiederholen des Bildes
    background-position: center center;
}

.QlarLogo{

    width: 5em;
    height: 5em;
}