<router-outlet />

<div class="MenuSetup">
  <div class="Sidebar">
    <app-sidebar
      [items]="['Proflex', 'Multicor', 'Multibelt', 'Multirail']"
    ></app-sidebar>
  </div>

  <div class="Mainbar">
    <app-homebar [items]="['Home', 'Rezepte', 'Maschinen', 'Support', 'Kontakt']"></app-homebar>
    <app-searchbar [placeholder]="'Search'"></app-searchbar>
  </div>
</div>

<div class="videocontainer">
  <app-food-choose-screen
    [Recipe_items]="[{headline:'Die besten Rezepte', account:'Qlar', views:'36742394', thumpnail:'thumpnail'},{headline:'Die besten Rezepte', account:'Qlar', views:'36742394', thumpnail:'thumpnail'}]"
  ></app-food-choose-screen>
</div>

<div class="datatable_list">
  <div class="datatable">
    <app-data-table></app-data-table>
  </div>

  <div>
    

    <app-liste></app-liste>
  </div>
</div>
