.Mainbar{

    display: flex;
    justify-content: center;
    align-content: center;
}

.MenuSetup{

    display: flex;
}

.QlarLogo{

    width: 5em;
    height: 5em;
}

.videocontainer{

    display: flex;
    flex-direction: row;
    margin-top: 1em;
}

.BackgroundPic{

    background-image: url('https://www.wwf.de/fileadmin/_processed_/3/7/csm_leopard-massai-mara-kenia-WW22416-c-naturepl-com-Anup-Shah-WWF_79b7762679.jpg');
  background-size: cover; /* Deckt den gesamten Bereich ab */
  background-position: center; /* Zentriert das Bild */
  background-repeat: no-repeat; /* Verhindert das Wiederholen des Bildes */
  width: 100%; /* Oder eine andere Breite, je nach Bedarf */
  height: 100vh; /* Oder eine andere Höhe, je nach Bedarf */

}