.Mainbar{

    display: flex;
    justify-content: center;
    align-content: center;
}

.MenuSetup{

    display: flex;
}

.QlarLogo{

    width: 5em;
    height: 5em;
}

.videocontainer{

    display: flex;
    flex-direction: row;
    margin-top: 1em;
}