<div class="containerMain">
    
    <div class="imageContainer">

        <img class="QlarLogo" src="assets/images/FoodPic.jpg" />
    
    </div>


    <div class="textsectionContainer">

        <div class="logoContainer">

            <div>

                <img class="QlarLogo" src="assets/images/qlar_group_logo.jpg" />

            </div>
            

        </div>
    
        <div class="headline">

            <p>{{Headline}}</p>
    
        </div>

    </div>


    <div class="UsernameContainer">

        <p>{{Account}}</p>

    </div>


    <div class="ViewAndDateContainer">

        <p>{{Views}}</p>

    </div>

</div>