.Box1{

    background-color: rgb(14, 187, 187);
}

.Box2{

    background-color: rgb(14, 187, 23);
}

.Box3{

    background-color: rgb(167, 14, 187);
}

.Box4{

    background-color: rgb(187, 14, 43);
}

.Box5{

    background-color: rgb(170, 187, 14);
}

.Box6{

    background-color: rgb(187, 14, 14);
}

.Box7{

    background-color: rgb(187, 14, 100);
}