<div class="Sidebar">

    <div class="SidebarContent">

        <div class="SidebarInnerContent">

            <p>Seite1</p>

        </div>

        <div class="SidebarInnerContent">

            <p>Seite2</p>

        </div>

        <div class="SidebarInnerContent">

            <p>Seite3</p>

        </div>

        <div class="SidebarInnerContent">

            <p>Seite4</p>

        </div>

        <div class="SidebarInnerContent">

            <p>Seite5</p>

        </div>

        <div class="SidebarInnerContent">

            <p>Seite6</p>

        </div>

    </div>

</div>